@import '~antd/dist/antd.css';


/* making the logo on the home page off the bottom */
.bottomMargin {
  margin-bottom: 500px;
}

/* .container {
  height: 100vh;
  position: 'relative';
  width: '100%';
  background-color: '#EE5407';
  justify-content: 'center';
  align-items: 'center';
} */

/* making a special container page size for the log out page */
.pageSize {
  padding: 90px;
  margin: 90px;
}

.main-img {
 max-width: 20%;
 height: auto;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.site-input-group-wrapper {
width: 700px;

}

.MyAccount {
  height: 120vh;
}

#header-team {
  text-align: center;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
  text-align: center;
  font-size: 16px;
}
/* login form styling from ant */
.form-border {
  margin: 20px;
  padding: 100px;
  border: 2px 2px 2px 2px;
  border-color: black;
  border-style: dashed;  
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown{
  color:white;
  font-size: 20px;
}
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

/* segmented footer */
.sc-example {
  color: rgb(123, 48, 167);
  font-size: 14px;

    margin: 700px;
}
html, body {
  height: 100%;
  margin: 0;
  
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.nav-logo img{
  position: absolute;
  justify-content: flex-end;
  max-height: 125px;
}
.content-inside {
  padding: 20px;
  height: 100%;
  color: white;
}
.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-color: #4b5ba2;
  color: white;
  text-align: center;
  height: 100px;
  border-top: 20px black;
  margin-top: 20px;
}

/* event viewer styling */

.eventView {
  background-color:#261cb9b4;
  color: white;
  text-emphasis-color: white;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 50%;
  align-content: center;
  margin: auto;
  opacity: .9;
  border: dashed;
}


center {
  Margin-Left: 100px;
}


