/* user profile information */
.userStyle {

    width: 20%;
  }


  .center {
    justify-content: center;
  }

  
.size {
  width: 50%;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  margin-bottom: 30px;
  }


.bottomMargin {
  margin-bottom: 30px;
}

/* event cards styling */
.cardCenter {
  display: "flex";
  justify-content: "center";
align-items: center;
flex-basis: auto;

}

.eventCard {
  
  border: 2px blue solid;
}





  /* user pic upload */

  .avatar-uploader > .ant-upload {
    width: 250px;
    height: 250px;

  }

  /* styles the myaccount container */ 
.profileStyle {
  justify-content: space-around;
 
}